# turn on the rewrite engine
RewriteEngine On

#specify the ocnditions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#the actual rewrite rule
# remove the 
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]